<%= form_with model: [@commentable, @comment] do |f| %>
  <div>
    <%= f.text_field :content, required: true, class: "comment_field" %>
  </div>
  <div>
    <%= f.submit t('views.common.submit') %>
  </div>
<% end %>
